:host {
    display: flex;
    flex-direction: var(--panel-direction, row);
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.panel-content {
    flex: 0 0 auto;
    overflow: auto;
    min-width: var(--panel-min-size, 100px);
    min-height: var(--panel-min-size, 100px);
}

.remaining-content {
    flex: 1;
    overflow: hidden;
}
