name: Test

on:
  push:
    branches: [ "main", "master" ]
  pull_request:
    branches: [ "main", "master" ]

jobs:
  test:
    name: Run Tests
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v4

    - name: Setup development environment
      uses: ./.github/actions/setup

    - name: Build WASM
      run: bun run wasm:build

    - name: Run Backend (Rust) Tests
      run: bun run test:rust

    - name: Run Frontend (Vitest) Tests
      run: bun run test
